@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    line-height: 1.7;
    color: rgb(236, 255, 193)
    
}
a{
    text-decoration: none;
}
.page-header{
    background-color: aqua;
}
img{
    max-width: 100%
}
.header-img{
    width: 10%;
    background-color: aqua;
}
.align-centre{
    text-align: center
}



.page-header{
    padding-top: .5rem;
}
.logo{
    width: 210px;
}
#header-img{
    width: 100%;
    height: 5rem;
}
#header_logo_title{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}
.align-centre{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#content{
    overflow-wrap: break-word;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 20pt;
}
.mainout{
    width: 50%;

}
.mainin{
    margin-bottom: 5rem;
    background-color: rgb(67, 64, 64);
}
.align-right{
    width: 35%;
    background-color: rgb(100, 237, 237);
    margin-left: auto;
}
.banner{
    color: rgb(161, 161, 255);
    width: 15%;
    background-color: rgb(233, 233, 77);
}

.headline{
    position: absolute;
    top: 15rem;
}

.grid{
    margin-top: 15rem;
    display: grid;
    gap:2rem 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.item{
    border: solid 3px;
    border-color: aqua;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
}
.item img{
    aspect-ratio: 3/1;
    object-fit: cover;
    border-radius: 5px;
}
.item p {
    font-size: .875rem;
    color: aliceblue;
}
a :visited{
    color: rgb(255, 255, 255);
}
.returnlink{
    color: rgb(230, 60, 60);
}
.returnlink :hover{
    color: rgb(193, 230, 60);
}
.returnlink :visited{
    color: rgb(255, 255, 255);
}
.long_sentence{
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}