.allwrap{
    width: 75%;
    margin-left: 12.5%;
    border: solid 3px;
    border-radius: 15px;
    border-color: yellow;
    margin-top: 15rem;
    padding: 3%;
    margin-bottom: 3rem;
}
.rowwrap{
    border: solid 3px;
    border-radius: 15px;
    border-color: aqua;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.bookimg{
    width: 45%;
}
.bookexplain{
    width: 45%;
}
.tobookdetail{
    width: 28%;
    background-color: rgb(100, 237, 237);
    margin-left: auto;
    clip-path: polygon(0% 17%, 60% 17%, 60% 0%, 100% 50%, 60% 100%, 60% 83%, 0% 83%);
}
#headline{
    margin-bottom: 50px;
    }

@media screen and (max-width: 768px) {
    .bookimg{
    width: 50%;
    margin-top: 5rem;
    }
    .tobookdetail{
    width: 75%;
    background-color: rgb(100, 237, 237);
    margin-left: auto;
    clip-path: polygon(0% 12%, 60% 12%, 60% 0%, 100% 50%, 60% 100%, 60% 88%, 0% 88%);
    }

}