@media screen and (max-width: 768px) {
    .grid{
    margin-top: 15rem;
    display: grid;
    gap:2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    }

}
.wrapper{
    padding-left: 5px;
    padding-right: 5px;
}