@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    line-height: 1.7;
    color: rgb(236, 255, 193)
    
}
a{
    text-decoration: none;
}
.page-header{
    background-color: aqua;
}
img{
    max-width: 100%
}
#header-img-border{
    width: 100%;
    background-color: None;
}
#header-img{
    height: 100%;
    width: 100%;
}
.align-centre{
    text-align: center
}



.page-header{
    padding-top: .5rem;

}
.logo{
    width: 210px;
}
#header-img{
    width: 100%;
    height: 10rem;
}
#header_logo_title{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}
.align-centre{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(13, 1, 122);
}
#content{
    overflow-wrap: break-word;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 20pt;
}
.mainout{
    width: 50%;
    margin-top: 6rem;

}
.mainin{
    margin-bottom: 3.5rem;
    background-color: rgb(67, 64, 64);
}
.align-right{
    width: 35%;
    background-color: rgb(100, 237, 237);
    margin-left: auto;
    height: 110%;
    clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);
    padding-right: 10px;

}
.banner{
    color: rgb(161, 161, 255);
    width: 240px;
    height: 50rem;
    background-color: rgb(233, 233, 77);
    margin-top: 30px;
}
.side_bn-img{
    height: 100%;
    width: 100%;
}


.headline{
    position: absolute;
    top: 15rem;
    color: rgb(235, 238, 54);
}

.grid{
    margin-top: 15rem;
    display: grid;
    gap:2rem 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.item{
    border: solid 3px;
    border-color: aqua;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
}
.item img{
    aspect-ratio: 3/1;
    object-fit: cover;
    border-radius: 5px;
}
.item p {
    font-size: .875rem;
    color: aliceblue;
}
a :visited{
    color: rgb(255, 255, 255);
}
.returnlink{
    color: rgb(230, 60, 60);
    background-color: aqua;
    clip-path: polygon(25% 0%, 25% 15%, 100% 15%, 100% 85%, 25% 85%, 25% 100%, 0% 50%);
    width: 100px;
    padding-left: 10px;
}
.returnlink :hover{
    color: rgb(230, 60, 165);
}
.returnlink :visited{
    color: rgb(225, 55, 194);
}
.long_sentence{
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 110%;
}

.logo{
    width: 25%;
}
@media screen and (max-width: 768px) {
    .rightban{
        display: none;
    }
    .leftban{
        display: none;
    }
    .mainout{
        width: 75%;
    }
    .long_sentence{
        font-size: 100%;
    }
    #headline{
        width: 70cqw;
    }
    .align-centre{
        width: 100%;
    }
}

